<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu mural</h2>
    <button
      class="botao"
      routerLink="/criarPensamento">
        Adicionar pensamento
    </button>
  </header>
  <div class="mural" *ngIf="listaPensamentos.length > 0; else semPensamentos">
    <div
      class="pensamento {{ pensamento.modelo }} ff-roboto-mono"
      [ngClass]="larguraPensamento()"
      *ngFor="let pensamento of listaPensamentos"
      >
      <img src="/assets/imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
      <p class="conteudo">{{ pensamento.conteudo }}</p>
      <p class="autoria">{{ pensamento.autoria }}</p>
      <div class="acoes">
        <button class="botao-editar">
          <img src="/assets/imagens/icone-editar.png" alt="Ícone de editar">
        </button>
        <button class="botao-excluir">
          <img src="/assets/imagens/icone-lixeira.png" alt="Ícone de excluir">
        </button>
      </div>
    </div>
  </div>
  <ng-template #semPensamentos>
    <div class="ff-inter sem-pensamentos">
      <p>Ainda não há pensamentos cadastrados!</p>
    </div>
    </ng-template>
</section>

<!-- [ngClass]="{
  'pensamento-g': !pensamentoPequeno,
  'pensamento-p': pensamentoPequeno
}" -->
